{% extends 'base.html.twig' %}

{% block title %}Episode {{ episode.id }}{% endblock %}

{% block body %}
    <article>
        <h1>{{ program.title }}</h1>
        <h3>Saison {{ season.number }}</h3>
        <h5>Episode {{episode.number }}) : {{ episode.title }}</h5>
        <p>Resumé : {{ episode.synopsis }}</p>
    </article>

    <article>
        {% for comment in comments %}
        ---------------------------------------------------------------------
            <p>Auteur : {{ comment.email }}</p>
            <p>{{ comment.comment }}</p>
            <p>Note : {{ comment.rate }}</p>

        ---------------------------------------------------------------------
            {% if app.user %}
                {% if (is_granted("ROLE_ADMIN")) or comment.author_id == app.user.id %}
                    {{ include('program/_delete_comment.html.twig') }}
                {% endif %}
                
            {% endif %}
        <br>
        {% endfor %}
    </article>

    {% if is_granted("ROLE_CONTRIBUTOR")%}
        <h5>Ajouter un commentaire</h5>
        {{ include('program/_form.html.twig', {'button_label': 'Comment'}) }}
    {% else %}
        <p>Pour ajouter un commentaire, se connecter</p>    
    {% endif %}

    <a href="{{ path('program_season_show', { program_slug: program.slug , season_id: season.id}) }}">
        Retour à la fiche de la saison
    </a>
{% endblock %}