{% extends 'base.html.twig' %}

{% block title %}Saison #{{ program.id }}{% endblock %}

{% block body %}
    <article>
        <h1>{{ program.title }} : Saison {{ season }}</h1>

        <h3>Infos {{ program.title }} :</h3>
        <ul>
            <li>Image :{{ program.poster }}</li>
            <li>Synopsis :{{ program.synopsis }}</li>
            <li>Category :{{ program.category.name }}</li>
        </ul>

        <h3>Liste des épisodes</h3>
        <ul>
            {% for episode in episodes %}
                <li>Episode {{loop.index}} ) {{ episode.title }}</li>
            {% endfor %}
        </ul>
    </article>

    <a href="{{ path('program_show', { id: program.id }) }}">
        Retour à la fiche de la série
    </a>
{% endblock %}