{% extends 'base.html.twig' %}

{% block title %}Program {{ program.id }}{% endblock %}

{% block body %}
    <article>
        <img src="{{ program.poster }}" alt="{{ program.title }}">
        <h1>{{ program.title }}</h1>
        <p>{{ program.synopsis }}</p>
        <h3>Catégorie : {{ program.category.name }}</h3>
        <h3>Liste des saisons : </h3>
        {% if not seasons %}
            <h5>Aucune saison trouvée</h5>
        {% else %}
            {% for season in seasons %}
                <p>
                    <a href="{{ path('program_season_show', { program: program.id , season: season.id }) }}">
                        Saison {{ season.number }}
                    </a>
                </p>  
            {% endfor %}   
        {% endif %}


    </article>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}